/* What is the CSS selector for a class? dot-then-the-name */
.box {
    width: 200px;
    height: 200px;
}
.blue-sky {
    background-image: radial-gradient(circle, yellow, white, lightblue)
}
.container {
    display: flex;
    /* center horizontally with */
    justify-content: center;
    /* center vertical */
    align-items: center;
}
#fact {
    border: 1px solid black;
}
.btn {
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}
.blue {
    background-color: white;
    border:rgb(60, 123, 144) 2px solid;
    color: rgb(60, 123, 144) ;
}
.blue:hover {
    background-color: rgb(60, 123, 144);
    color: white;
}