<main>

    <h2>COCKTAILS BY FIRST LETTER <button (click)="viewToggle()">Toggle View</button></h2>

    <!-- a form that takes in a letter and displays cocktails
        starting with that letter -->
        
    <form>

        <label for="searchLetter">Search For Cocktails Starting With: </label>
        <!-- this is two-way binding -->
        <!-- the [(ngModel)] binds the .ts variable searchLetter to the value displayed in the field -->
        <!-- changing either one will change the other -->
        <!-- you MUST have a name property that matches exactly, or this will not work!! -->
        <input [(ngModel)]="searchLetter" type="text" id="searchLetter" name="searchLetter">
        <button type="submit" (click)="updateLetter()">SUBMIT</button>

    </form>

    <!-- {{}} is property binding, taking TS values and using them -->
    <!-- <p>5th Cocktail's Name = {{ cocktails[4].strDrink }}</p> -->

    <!-- [] binds TS values to a tag's property -->
    <!-- <img [src]="cocktails[4].strDrinkThumb" [alt]="cocktails[4].strDrink"> -->

    <!-- *ngIf displays this container if the value is true -->
    <ng-container *ngIf="isTable">

        <h4>Click on an image to get details!</h4>

        <table>
            <thead>
                <th>Image</th>
                <th>Name</th>
                <th>Glass</th>
                <th>Category</th>
                <th>Remove</th>
                <th>Favorite</th>
            </thead>

            <!-- using ng-container to loop through cocktails
                this is a semantic-free, style-free container -->

            <tbody>
                <!-- *ngFor loops this container for each cocktail in our array -->
                <ng-container *ngFor="let cocktail of cocktails; let i = index; let e = even">

                    <!-- ngClass allows us to dynamically assign CSS classes
                            in this case, based on the index value -->
                    <!-- <tr [ngClass]="{
                        'even': i % 2 === 0,
                        'odd': i % 2 !== 0
                    }"> -->
                    <tr [ngClass]="{
                        'even': e,
                        'odd': !e
                    }">
                        <td><img (click)="getDetails(cocktail.idDrink)" [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink"></td>
                        <td>{{ cocktail.strDrink }}</td>
                        <td>{{ cocktail.strGlass }}</td>
                        <td>{{ cocktail.strAlcoholic }}</td>
                        <td><button (click)="removeCocktailTable(cocktail.idDrink)">X</button></td>
                        <td><button (click)="updateFavorite(cocktail.strDrink)">Fave It!</button></td>
                    </tr>

                </ng-container>

            </tbody>
        </table>

    </ng-container>

    <ng-container *ngIf="!isTable">
        
        <ng-container *ngFor="let cocktail of cocktails; let i = index">

            <app-cocktail [cocktail]="cocktail" (deleteCocktailEvent)="removeCocktailGrid($event, i)"></app-cocktail>

        </ng-container>

    </ng-container>

</main>